# Creating a feature matrix from a networkx graph

In this notebook we will look at a few ways to quickly create a feature matrix from a networkx graph.

In [1]:
import networkx as nx
import pandas as pd

G = nx.read_gpickle('major_us_cities')

## Node based features

In [2]:
G.nodes(data=True)

[('El Paso, TX', {'location': (-106, 31), 'population': 674433}),
 ('Long Beach, CA', {'location': (-118, 33), 'population': 469428}),
 ('Dallas, TX', {'location': (-96, 32), 'population': 1257676}),
 ('Oakland, CA', {'location': (-122, 37), 'population': 406253}),
 ('Albuquerque, NM', {'location': (-106, 35), 'population': 556495}),
 ('Baltimore, MD', {'location': (-76, 39), 'population': 622104}),
 ('Raleigh, NC', {'location': (-78, 35), 'population': 431746}),
 ('Mesa, AZ', {'location': (-111, 33), 'population': 457587}),
 ('Arlington, TX', {'location': (-97, 32), 'population': 379577}),
 ('Sacramento, CA', {'location': (-121, 38), 'population': 479686}),
 ('Wichita, KS', {'location': (-97, 37), 'population': 386552}),
 ('Tucson, AZ', {'location': (-110, 32), 'population': 526116}),
 ('Cleveland, OH', {'location': (-81, 41), 'population': 390113}),
 ('Louisville/Jefferson County, KY',
  {'location': (-85, 38), 'population': 609893}),
 ('San Jose, CA', {'location': (-121, 37), 'population': 998537}),
 ('Oklahoma City, OK', {'location': (-97, 35), 'population': 610613}),
 ('Atlanta, GA', {'location': (-84, 33), 'population': 447841}),
 ('New Orleans, LA', {'location': (-90, 29), 'population': 378715}),
 ('Miami, FL', {'location': (-80, 25), 'population': 417650}),
 ('Fresno, CA', {'location': (-119, 36), 'population': 509924}),
 ('Philadelphia, PA', {'location': (-75, 39), 'population': 1553165}),
 ('Houston, TX', {'location': (-95, 29), 'population': 2195914}),
 ('Boston, MA', {'location': (-71, 42), 'population': 645966}),
 ('Kansas City, MO', {'location': (-94, 39), 'population': 467007}),
 ('San Diego, CA', {'location': (-117, 32), 'population': 1355896}),
 ('Chicago, IL', {'location': (-87, 41), 'population': 2718782}),
 ('Charlotte, NC', {'location': (-80, 35), 'population': 792862}),
 ('Washington D.C.', {'location': (-77, 38), 'population': 646449}),
 ('San Antonio, TX', {'location': (-98, 29), 'population': 1409019}),
 ('Phoenix, AZ', {'location': (-112, 33), 'population': 1513367}),
 ('San Francisco, CA', {'location': (-122, 37), 'population': 837442}),
 ('Memphis, TN', {'location': (-90, 35), 'population': 653450}),
 ('Los Angeles, CA', {'location': (-118, 34), 'population': 3884307}),
 ('New York, NY', {'location': (-74, 40), 'population': 8405837}),
 ('Denver, CO', {'location': (-104, 39), 'population': 649495}),
 ('Omaha, NE', {'location': (-95, 41), 'population': 434353}),
 ('Seattle, WA', {'location': (-122, 47), 'population': 652405}),
 ('Portland, OR', {'location': (-122, 45), 'population': 609456}),
 ('Tulsa, OK', {'location': (-95, 36), 'population': 398121}),
 ('Austin, TX', {'location': (-97, 30), 'population': 885400}),
 ('Minneapolis, MN', {'location': (-93, 44), 'population': 400070}),
 ('Colorado Springs, CO', {'location': (-104, 38), 'population': 439886}),
 ('Fort Worth, TX', {'location': (-97, 32), 'population': 792727}),
 ('Indianapolis, IN', {'location': (-86, 39), 'population': 843393}),
 ('Las Vegas, NV', {'location': (-115, 36), 'population': 603488}),
 ('Detroit, MI', {'location': (-83, 42), 'population': 688701}),
 ('Nashville-Davidson, TN', {'location': (-86, 36), 'population': 634464}),
 ('Milwaukee, WI', {'location': (-87, 43), 'population': 599164}),
 ('Columbus, OH', {'location': (-82, 39), 'population': 822553}),
 ('Virginia Beach, VA', {'location': (-75, 36), 'population': 448479}),
 ('Jacksonville, FL', {'location': (-81, 30), 'population': 842583})]

In [3]:
# Initialize the dataframe, using the nodes as the index
df = pd.DataFrame(index=G.nodes())

### Extracting attributes

Using `nx.get_node_attributes` it's easy to extract the node attributes in the graph into DataFrame columns.

In [4]:
df['location'] = pd.Series(nx.get_node_attributes(G, 'location'))
df['population'] = pd.Series(nx.get_node_attributes(G, 'population'))

df.head()

                   location  population
El Paso, TX      (-106, 31)      674433
Long Beach, CA   (-118, 33)      469428
Dallas, TX        (-96, 32)     1257676
Oakland, CA      (-122, 37)      406253
Albuquerque, NM  (-106, 35)      556495

### Creating node based features

Most of the networkx functions related to nodes return a dictionary, which can also easily be added to our dataframe.

In [5]:
df['clustering'] = pd.Series(nx.clustering(G))
df['degree'] = pd.Series(G.degree())

df

                                   location  population  clustering  degree
El Paso, TX                      (-106, 31)      674433    0.700000       5
Long Beach, CA                   (-118, 33)      469428    0.745455      11
Dallas, TX                        (-96, 32)     1257676    0.763636      11
Oakland, CA                      (-122, 37)      406253    1.000000       8
Albuquerque, NM                  (-106, 35)      556495    0.523810       7
Baltimore, MD                     (-76, 39)      622104    0.800000      10
Raleigh, NC                       (-78, 35)      431746    0.615385      13
Mesa, AZ                         (-111, 33)      457587    0.750000       8
Arlington, TX                     (-97, 32)      379577    0.763636      11
Sacramento, CA                   (-121, 38)      479686    0.777778       9
Wichita, KS                       (-97, 37)      386552    0.622222      10
Tucson, AZ                       (-110, 32)      526116    0.750000       8
Cleveland, OH                     (-81, 41)      390113    0.659341      14
Louisville/Jefferson County, KY   (-85, 38)      609893    0.641026      13
San Jose, CA                     (-121, 37)      998537    1.000000       8
Oklahoma City, OK                 (-97, 35)      610613    0.636364      12
Atlanta, GA                       (-84, 33)      447841    0.611111       9
New Orleans, LA                   (-90, 29)      378715    0.607143       8
Miami, FL                         (-80, 25)      417650    0.000000       1
Fresno, CA                       (-119, 36)      509924    0.888889       9
Philadelphia, PA                  (-75, 39)     1553165    0.800000      10
Houston, TX                       (-95, 29)     2195914    0.861111       9
Boston, MA                        (-71, 42)      645966    1.000000       5
Kansas City, MO                   (-94, 39)      467007    0.472527      14
San Diego, CA                    (-117, 32)     1355896    0.745455      11
Chicago, IL                       (-87, 41)     2718782    0.618182      11
Charlotte, NC                     (-80, 35)      792862    0.636364      12
Washington D.C.                   (-77, 38)      646449    0.712121      12
San Antonio, TX                   (-98, 29)     1409019    1.000000       7
Phoenix, AZ                      (-112, 33)     1513367    0.694444       9
San Francisco, CA                (-122, 37)      837442    1.000000       8
Memphis, TN                       (-90, 35)      653450    0.494505      14
Los Angeles, CA                  (-118, 34)     3884307    0.745455      11
New York, NY                      (-74, 40)     8405837    0.833333       9
Denver, CO                       (-104, 39)      649495    0.666667       4
Omaha, NE                         (-95, 41)      434353    0.444444       9
Seattle, WA                      (-122, 47)      652405    0.000000       1
Portland, OR                     (-122, 45)      609456    0.000000       2
Tulsa, OK                         (-95, 36)      398121    0.727273      11
Austin, TX                        (-97, 30)      885400    0.892857       8
Minneapolis, MN                   (-93, 44)      400070    1.000000       4
Colorado Springs, CO             (-104, 38)      439886    0.466667       6
Fort Worth, TX                    (-97, 32)      792727    0.763636      11
Indianapolis, IN                  (-86, 39)      843393    0.641026      13
Las Vegas, NV                    (-115, 36)      603488    0.666667      12
Detroit, MI                       (-83, 42)      688701    0.672727      11
Nashville-Davidson, TN            (-86, 36)      634464    0.589744      13
Milwaukee, WI                     (-87, 43)      599164    0.666667      10
Columbus, OH                      (-82, 39)      822553    0.619048      15
Virginia Beach, VA                (-75, 36)      448479    0.861111       9
Jacksonville, FL                  (-81, 30)      842583    0.500000       4

# Edge based features

In [ ]:
G.edges(data=True)

In [ ]:
# Initialize the dataframe, using the edges as the index
df = pd.DataFrame(index=G.edges())

### Extracting attributes

Using `nx.get_edge_attributes`, it's easy to extract the edge attributes in the graph into DataFrame columns.

In [ ]:
df['weight'] = pd.Series(nx.get_edge_attributes(G, 'weight'))

df

### Creating edge based features

Many of the networkx functions related to edges return a nested data structures. We can extract the relevant data using list comprehension.

In [ ]:
df['preferential attachment'] = [i[2] for i in nx.preferential_attachment(G, df.index)]

df

In the case where the function expects two nodes to be passed in, we can map the index to a lamda function.

In [ ]:
df['Common Neighbors'] = df.index.map(lambda city: len(list(nx.common_neighbors(G, city[0], city[1]))))

df